
<h2>@Model.CurrentCategory</h2>
@{
    foreach (Drink drink in Model.Drinks)
    {
        if (drink.InStock == true)
        {
            @Html.Partial("DrinksSummaryPartial", drink)
        }

    }
}

